.actions {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

img {
    height: 40px;
    border-radius: 50%;
}

.icon {
    width: 80px;
}

.rowCount {
    width: 40px;
}

.charRow {
    cursor: pointer;
}

.charRow:hover {
    transform: scale(1.02);
    box-shadow: 0 0 0.5em 0 #858585;
}

#detailCharForm > .modal-body input {
    pointer-events: none;
}